@media (max-width: 960px) {
    /* blog1 */
    .blogs-main-new {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }
    .blogs-news-img-container {
        grid-row: 2;
        text-align: center;
    }
    .blogs-news-info-container {
        grid-column: 1;
        grid-row: 3;
    }
    .blogs-post-container .post-container {
        max-width: 45%;
    }
/* perfil */
    .profile-continer-hola {
        display: block;
        text-align: center;
    }
    .post-container-proyects{
        display: block;
    }
    /* blog 2 */
    .blog2-main-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr;
    }
    /* contacto */
    .contact-main-container div {
        height: 0;
    }
}
@media (max-width: 600px) {
    .blogs-post-container .post-container {
        max-width: 95%;
        
    }
    .post-container-proyects {
        display: block;
    }
}